Jurassicdex/.gradle
Jurassicdex/.idea
Jurassicdex/.kotlin
Jurassicdex/gradle*
Jurassicdex/.gitignore
Jurassicdex/local
Jurassicdex/app/.gitignore
Jurassicdex/app/proguard-rules.pro
Jurassicdex/app/build/generated
Jurassicdex/app/build/intermediates
Jurassicdex/app/build/kotlin
Jurassicdex/app/build/reports
Jurassicdex/app/build/test-results
Jurassicdex/app/build/tmp
Jurassicdex/app/build/outputs/logs
Jurassicdex/app/build/outputs/apk/androidTest
Jurassicdex/app/build/outputs/apk/debug/output-metadata
