Jurassicdex/.gradle
Jurassicdex/.idea
Jurassicdex/.kotlin
Jurassicdex/gradle*
Jurassicdex/.gitignore
Jurassicdex/local
Jurassicdex/app/build
Jurassicdex/app/.gitignore
Jurassicdex/app/proguard-rules.pro


!Jurassicdex\app\build\outputs\apk\debug\app-debug.apk
