Jurassicdex/.gradle
Jurassicdex/.idea
Jurassicdex/.kotlin
Jurassicdex/gradle*
Jurassicdex/.gitignore
Jurassicdex/local
Jurassicdex/app/.gitignore
Jurassicdex/app/proguard-rules.pro
Jurassicdex/app/build/

!Jurassicdex/app/build/outputs/
!Jurassicdex/app/build/outputs/apk/
!Jurassicdex/app/build/outputs/apk/debug/
!Jurassicdex/app/build/outputs/apk/debug/app-debug.apk
